.container{
    margin-bottom: 50px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item{
    padding: 10px 50px
}
.price{
    color: rgb(29, 67, 122);
}
.buy-now{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to top,lightsalmon,tomato);
}